*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

# Project files
.idea

# For librarian
/cookbooks
/tmp
*.swp

# RVM stuff we'll ignore for this gem for max flexibility
.ruby-version
.ruby-gemset
.rvmrc

# Ignore Gemfile.lock in this since it's a gem
Gemfile.lock
